{% extends 'core/base.html'%} {%load static%}
<!-- auzhekahz -->
{%block title%}Detalles-{{services.title}}{%endblock%} {%block content%}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'services'%}">Services</a></li>
        <li>Service Details</li>
      </ol>
      <h2>{{services.title}}</h2>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              {%for p in photos%}
              <div class="swiper-slide">
                <img src="{{p.images.url}}" width="" height="30" alt="" />
              </div>
              {%endfor%}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div class="col-md-6 text-light lh-base text-start">
          <p class="">{{services.description}}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->
{%endblock%}
