---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
		/>
	<link rel="stylesheet" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>		
		<meta name="generator" content={Astro.generator} />
		<title>Danvertical | {title}</title>
	</head>
	<body class="bg-black">
		<header>
			<nav class="flex justify-between items-center w-[90%] m-6 text-[20px] font-[poppins]">
				<div class="w-20">
					<img src="../../public/Logo.png" alt="" srcset="" >
				</div>
				<div class="">
					<ul class=" flex items-center gap-[4vw] uppercase font-medium text-[#CAC633]">
						<li class="hover:scale-110"><a href="">INICIO</a></li>
						<li class="hover:scale-110"><a href="">SERVICIOS</a></li>
						<li class="hover:scale-110"><a href="">la empressa</a></li>
						<li class="hover:scale-110"><a href="contacto.astro">CONTACTO </a></li>
					</ul>
				</div>
			</nav>
		</header>
		<slot />
	</body>
</html>
<